.table > tbody > tr.blue_selection {
    color: #FFF;
    text-decoration-color: #F0F0F0;
    background: #3598dc;
}

table.table tr.blue_selection td {
    color: #F0F0F0;
    text-decoration-color: #F0F0F0;
    background: #3598dc;
}

.table > tbody > tr.blue-mark {
    border-left: 0.2em solid #3598dc;
    border-right: 0.2em solid #3598dc;
    background-color: rgba(0,0,0,.075);
}

#datatable td {
        vertical-align: middle;
}

.white-btn {
    filter: invert(1); 
}